@import "custom";

// Title font
@import url("https://fonts.googleapis.com/css2?family=Crushed&display=swap");

// Global Colors
$brown: #682c0e;
$beige: #f2e6d9;
$orange: #d77d4e;

html {
  position: relative;
  min-height: 100%;
}

// background image
body {
  margin-bottom: 62px;
  background-image: url("../data/images/bg_image.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  background-attachment: fixed;
}

// Navbar

#navbar-wrapper {
  background-color: white;
  .nav-link {
    color: $orange !important; // all navbar links
  }
  #navbar-top-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #logo-container {
      padding: 0px;
      #logo {
        width: 150px;
        margin: 20px 0px 0px 10px;
      }
    }
    #title {
      color: $orange;
      font-family: "Crushed", cursive;
      text-align: center;
      margin: auto;
    }
    #signup-login {
      color: $orange;
      margin: 20px 20px 0px 0px;
    }
  }
  #navbar-custom-links {
    margin: auto; // main navbar links
  }
  .navbar-bottom-half {
    padding-top : 0px;
    border-bottom: 3px $brown solid; // line indicating end of navbar
  }
}

//home
.home-quote-container {
  margin-top: 10px;
}

//all headings
.heading-container {
  margin: 20px 0px;

  .heading {
    padding: 0px 5px;
    font-size: 2em;
    color: $orange;
    background-color: $beige;
    border-radius: 5px;
  }

  .spacer {
    width: 61px;
  }
}

// home
.home-quote-container {
  margin-top: 50px;
  margin-bottom: 50px;

  .quote {
    width: 300px;
    margin: 100px auto;
  }
}

.home-container {
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: $beige;
  margin-bottom: 100px;
}

.find-a-class-image {
  width: 300px;
  padding: 20px;
}

.gallery-image {
  width: 300px;
  margin: auto;
  display: block;
  padding: 20px;
}

//generic container
.main-container {
  margin: auto;
  padding: 10px;
}

.small-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

//classes page
.classes-container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  // background-color: $beige;

  .class-card {
    background-color: #f2e6d9;
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    padding: 20px;

    .class-description {
      background: white;
      height: 30%;
      padding: 10px;
    }
    .class-buttons {
      display: flex;
      justify-content: space-between;
      padding: 15px;
    }
  }
}

//gallery
.gallery-container {
  justify-content: center;
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
  // background-color: $beige;

  .thumb-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    background-color: $beige;
    width: 150px;
    height: 250px;
    position: relative;
    .thumb {
      margin-top: 10px;
      max-width: 100%;
      max-height: 100%;
    }

    .photo-description {
      position: absolute;
      bottom: 0;
      right: 5px;
      left: 5px;
    }
  }
}

//photo
.carousel-container {
  background-color: $beige;

  .carousel-photo-container {
    margin: 20px auto 50px;

    .photo {
      display: block;
      margin: auto;
      width: 80%;
    }
    .photo-desc {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
.chevron-icon {
  height: 25px;
  width: 25px;
  color: $brown;
}
// members
.members-container {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: $beige;
}

//history

.history-container {
  padding: 10px;
  background-color: $beige;

  .history-image-center {
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
  }
  .history-image-left {
    width: 60%;
    float: left;
    padding: 5px 20px 10px;
  }
  .history-image-right {
    width: 60%;
    float: right;
    padding: 5px 10px 20px;
  }
}
//footer

#footer-wrapper {
  background-color: $beige;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 62px; //same height as the margin to the bottom of the body

  .footer-custom {
    border-top: 3px $brown solid;
  }

  .nav-link {
    color: $brown !important; // all navbar links
  }

  #footer-custom-links {
    margin: auto;
    .footer-link {
      padding: 10px 20px;
    }
  }
}

// Media Queries
.disappear-class {
  display: none;
}

@include media-breakpoint-up(lg) {
  .disappear-class {
    display: block;
  }
}
